<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>t</Title>
			<Shortcut>s</Shortcut>
		</Header>
		<Snippet>
      <Declarations>
        <Literal>
          <ID>a</ID>
          <Default>a</Default>
        </Literal>
      </Declarations>

			<Code Language="cpp"><![CDATA[
      $end$ ]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>
